@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
  padding: 0 75px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    color: $default;
    @extend %Rubik-500;
  }
}

.user-nav{
   display: flex;
  &__link{
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
  }
  &__link-img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &__link__inner{
    display: flex;
    justify-content: space-around;  
    margin: 0 20px;
    min-width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__link__inner-img{
    position: absolute;
    top: 50%;
    transform: translate(-50% , -50%);
  }
  &__num{
    position: absolute;
    background-color: #fff;
    color: #243f4d;
    @extend %DMSans-400;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    top: 7px;
  }

}


.footer-top{
  padding: 80px 0 70px;
  border-bottom: solid 1px #dae4e9;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  &__addres,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 14px;
  }
  &__item-nav{
    width: 170px;
    margin-right: 130px;
  }
  &__item-logo{
     display: block;
    margin-bottom: 27px;
  }
  &__item-addres{
    max-width: 200px;
    margin-right: 100px;
  }
  &__title{
    @extend %DMSans-700;
    color: $title;
    font-size: 16px;
    line-height: 3.5;
    margin-bottom: 10px;
  }
  &__list-link{
    display: block;
    margin-bottom: 8px;
  }

  &__item-form{
    max-width: 270px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    margin-right: -4px;
    &::placeholder{
      color: #234969;
      @extend %DMSans-400;
      font-size: 12px;
    }
  }
  &__form-btn{
    @extend %DMSans-400;
    border: none;
    background-color: #a3bbc8;
    color: #ffff;
    padding: 12px 15px;
  }

}
.footer-bottom{
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__copy{
     font-size: 14px;
     line-height: 32px;
   }
   &__list{
    display: flex;
    align-items: center;
   }  
   &__link{
     font-size: 14px;
     line-height: 20px;
   }
   &__link + .footer-bottom__link{
     margin-left: 10px;
     padding-left: 10px;
     border-left: 1px solid #7b7b7b;
     
   }

}


@import 'media';